.footer{
    background: rgb(112,186,179);
    background: linear-gradient(90deg, rgba(112,186,179,1) 35%, rgba(222,119,166,1) 60%);
}
.info{
    h2{
        font-family: "Roboto";
        text-align: center;
        font-weight: 550;
    }
    p{
        font-family: "Roboto";
    }
    .sizeText{
        font-size: 16px;
    }
}

.social{
    h2{
        font-family: "Roboto";
        text-align: center;
        font-weight: 550;
    }
    a{
        text-decoration: none;
        color:black;
    }
    a:hover{
        opacity: .6;
    }
    mat-icon{
        font-size: 40px;
    }
}

.map{
    h2{
        font-family: "Roboto";
        text-align: center;
        font-weight: 550;
    }
}
