img{
    height: 25vh;
    width: auto;
    clip-path: inset(10% 0 10% 0);
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-size: 20px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #de77a6;
}



.menu button{
    height: 50px;
    width: 80%;

}
.menu button:hover{
    background-color: #70bab3;
    color: white;
}
 
.activateButton{
    background-color: #70bab3;
    color: white;
}

