<div fxLayout="row" >
    <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="30%" class="n">
        <img class="logo" src="../../assets/Logo/Sagu.jpeg" alt="">
    </div>
    <div  fxLayout="row" fxLayoutAlign="center center" class="menu" fxFlex="70%">
        <div fxFlex="20%"><button mat-button >Inicio</button></div>
        <div fxFlex="20%"><button mat-button >Servicios</button></div>
        <div fxFlex="20%"><button mat-button >Productos</button></div>
        <div fxFlex="20%"><button mat-raised-button  color="primary">Contactos</button></div> 
    </div>
</div>